<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkgsQFMVFKWLd_j9aniFTBZLRu8W3eduI</string>
	<key>GCM_SENDER_ID</key>
	<string>196748343830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.siyu.MeowMate</string>
	<key>PROJECT_ID</key>
	<string>mewomate</string>
	<key>STORAGE_BUCKET</key>
	<string>mewomate.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We need to send you reminders about upcoming events for your cat</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:196748343830:ios:a704085c30791dc54b9337</string>
</dict>
</plist>
